<header>

<% if (!username) { %>
  <a href = "http://localhost:8080/login"><button type="submit">Login</button></a>
   <a href = "http://localhost:8080/register"><button type="submit">Register</button></a>

<% }  else { %>

<%= username.email %>
<form method="POST" action="/logout">
<button type="submit">logout</button> </form>


<% } %>


</header>
