<header>

<% if (!username) { %>
  <a href = "http://localhost:8080/login">Login</a>
   <a href = "http://localhost:8080/register">Register</a>

<% }  else { %>

<%= username.email %>
<form method="POST" action="/logout">
<button type="submit">logout</button> </form>


<% } %>


</header>
