<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    Registration
  </header>
    <form method="POST" action="/register">
    <input id="email" type="email" name="email" placeholder="email@email.com">
    </form>

    <form method="POST" action="/register">
    <input id="password" type="password" name="password" placeholder="password">
    </form>

    <button type="submit">Register</button>
</body>
</html>
