<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
    <% for (let shortUrl in urls) { %>
    <ol>
    <%= shortUrl %> : <%= urls[shortUrl] %>
    <a href = '/urls/<%=shortUrl%>'>Edit</a>
    <form method="POST" action="/urls/<%= shortUrl %>/delete">
    <button type="submit">Delete</button>
    </form>
    </ol>
    <% } %>
     <a href = "http://localhost:8080/urls/new">ADD</a>
</body>
</html>
